@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">        
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>            
        <div>
            <p><b>Сhoose site design:</b></p>
            <p><input name="dzen" type="radio" id="Light">Light</p>
            <p><input name="dzen" type="radio" id="Dark">Dark</p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let siteDesign = getCookie($("#Username").val());
        console.log($("#" + siteDesign));
        $("#" + siteDesign).attr("checked", "true");

        $("#Light").on("click", function () {
            document.cookie = $("#Username").val() + "=Light; path=/;";
            location.reload();            
        })
        $("#Dark").on("click", function () {
            document.cookie = $("#Username").val() + "=Dark; path=/;";
            location.reload();            
        })
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        
    </script>
}