@model Crowdfunding.Models.Company

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetMoney" class="control-label"></label>
                <input asp-for="TargetMoney" class="form-control" />
                <span asp-validation-for="TargetMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeSrc" class="control-label"></label>
                <input asp-for="YoutubeSrc" class="form-control" />
                <span asp-validation-for="YoutubeSrc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Images</label>
                <input type="file" class="form-control" id="file_Img1" multiple/>
                <input type="text" value="" hidden name="Images" id="Img1"/>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <input type="text" class="form-control" name="Tags" data-autocomplete-source="@Url.Action("Search", "Companies")" />
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <input type="text" class="form-control" name="Tags" data-autocomplete-source="@Url.Action("Search", "Companies")" />
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="CustomUserId" class="control-label">User Name</label>
                    <select asp-for="CustomUserId" class="form-control" asp-items="ViewBag.CustomUserId"></select>
                </div>
            }
            else
            {
                <input asp-for="CustomUserId" value="@ViewBag.UserId" type="hidden" />
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("data-autocomplete-source") });
            });
        });
    </script>
    <script>
        $('document').ready(function () {
            $('input[type=file]').on('change', function (event) {
                let $files = $(this).get(0).files;
                let imgId = event.target.getAttribute("Id").split("_")[1];                
                if ($files.length) {                    
                    if ($files[0].size > $(this).data('max-size') * 1024) {
                        console.log('Please select a smaller file');
                        return false;
                    }
                    
                    let apiUrl = 'https://api.imgur.com/3/image';
                    let apiKey = 'ae017251e90970a';

                    let settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: apiUrl,
                        headers: {
                            Authorization: 'Client-ID ' + apiKey,
                            Accept: 'application/json',
                        },
                        mimeType: 'multipart/form-data',
                    };

                    let formData = new FormData();
                    formData.append('image', $files[1]);
                    settings.data = formData;
                    
                    $.ajax(settings).done(function (response) {
                        //$("#" + imgId).attr("value", (JSON.parse(response)).data.link);
                        alert(JSON.parse(response).data.link);
                        
                    });
                    
                }
            });
        });

    </script>
}
